.link--default {
  color: #ff6060 !important;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.text--quicksand {
  font-family: 'Quicksand', sans-serif;
}

.text--black {
  color: #000;
}