@import './variables.scss';

.link--default {
  color: $color--primary !important;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.text--default {
  color: $color--primary;
}

.text--raleway {
  font-family: 'Raleway' !important;
}

.text--black {
  color: #000;
}

.text--shadow {
  text-shadow: 1px 1px 5px black;
}